header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 1.5rem 1rem;

}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--text-black);
    text-decoration: none;
    max-width: 13rem;
}


.header-nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    background-color: var(--light-purple);

}


.header-nav a {
    text-decoration: none;
    color: var(--text-black);
    font-weight: bold;
    /* border: 0.0625rem solid black; */
    /* padding: 1.5rem; */
}

/* .header-nav li:first-child a{
    border-radius: 2rem 0 0 2rem;
}

.header-nav li:last-child a{
    border-radius: 0 2rem 2rem 0;
    border: none;
} */