header{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--text-black);
    text-decoration: none;
    max-width: 13rem;
}

.header-nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
    background-color: var(--light-purple);
}

.header-nav a{
    text-decoration: none;
    color: var(--text-black);
    font-weight: bold;
}